.addProducts-form{
    display: flex;
    background-color: #3FA0FF;
    box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
}

.addProducts-form__input, .addProducts-form__textarea{
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: hidden;
    font-size: 1.5rem;
    font-weight: bold;

}

.addProducts-form__textarea{
    height: 150px;
    font-family: inherit;
}

.addProducts-form .addProducts-form__button{
    margin-bottom: 20px;
    border-radius: 5px;
    border: hidden;
    height: 30px;
    width: 100px;
    font-family: inherit;
}