* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: white;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	background: radial-gradient(circle, rgba(30,144,255,1) 25%, rgba(72,163,255,1) 100%);
}

*:focus {
    outline: none;
}


