.form__credits {
    width: 50%;
    margin: 0 auto;
}

.form__credits__section {
    display: flex;
    flex-direction: column;
}

.form__credits__label {
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #FFF;
    color: #000;
    font-size: 1.6rem;
    transition: all 0.2s;
    cursor: pointer;
}

.form__credits__input {
    opacity: 0;
    width: 0;
}

.form__credits__button {
    display: flex;
    justify-content: center;
}

.form__credits__submit {
    background-color: #FFF;
    font-family: inherit;
    color: #1E90FF;
    border: none;
    cursor: pointer;
    padding: 2rem 15rem;
    margin-top: 1rem;
    border-radius: 10rem;
    font-weight: bold;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
    border: 0.2rem solid #1E90FF;
    transition: 0.15s;
}

.form__credits__submit:hover {   
    transform: scale(1.025);
    background-color: #1E90FF;
    color: #FFF;
    border: 0.2rem solid #FFF;
}

.form__credits__input:hover + label {
    opacity: 0.8;
}

.form__credits__input:checked + label {
    background-color: #2EC4B6;
}

