.dashboard{
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 15vh 5vh 3vh 2vh 10vh 2vh 10vh 2vh;
  display: grid;
}

.dashboard__header{
  color: white;
  grid-column-start: 2;
  grid-row-start: 1;
  font-size: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.dashboard__link{
  text-decoration: none;
  grid-column-start: 2;
  grid-row-start: 5;
}

.dashboard__section{
  padding: 1.5rem;
  color: white;
  background-color: #3FA0FF;
  grid-column-start: 2;
  grid-row-start: 5;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
  min-height: 2rem;
}

.fas{
  color: white;
  grid-column-start: 2;
  grid-row-start: 1;
  font-size: 36px;
}

.dashboard__section__text{
  font-size: 2.2rem;
  margin: auto auto;
}

.dashboard__section__circle{
  margin: auto 0;
  height: 5rem;
  width: 5rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dashboard__section__circle__icon{
  position: relative;
  top: 9px;
  left: 8px;
}

.dashboard__filters{
  cursor: pointer;
  color: #1E90FF;
  background-color: white;
  width: 10rem;
  border-radius: 1.2rem;
  grid-column-start: 2;
  grid-row-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard__filters__text{
  font-size: 1.6rem;
}

@media only screen and (max-width: 750px) {
  .dashboard{
    grid-template-columns: 10% 80% 10%;
  }

  .dashboard__header{
    font-size: 1.5rem;
  }

  .fas{
    font-size: 3.6rem;
  }

  .dashboard__section__text{
    font-size: 90%;
  }

  .dashboard__section__circle{
    height: 2.5rem;
    width: 2.5rem;
  }

  .dashboard__filters__text{
    margin: 1px 0 1px 15px;
  }
}
