body{
    background-color: #fff;
}

.backgroundwrap{
    background-image: url('../images/alphen.jpg');
    object-fit: cover;
    width: 100%;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.container{
    width: 100vw;
    height: 50vh;
    color: #fff;
}

.overlay{
    position: absolute;
    z-index: 1;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10,10,10,10);
}

.zipcodeContainer{
    display: block;
    margin: 0 auto;
    width: 30%;
    border-radius: 5px;
    margin-top: 20px;
    background: linear-gradient(-45deg, #6cb0f5, #50a7ff, #1E90FF, #62b0fd);
    padding: 10px;

}

.container__h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-shadow: 0px -2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, -2px 0px 0 #000;

}

.zipcodeContainer__input{
    display: block;
    margin: 0 auto;
    padding: 5px;
    border-radius: 3px;
    border-style: hidden;
    width: 90%;
    font-size: 2em;
}

@media(max-width: 400px){
    .backgroundwrap{
        width: 100vw;
    }

    .zipcodeContainer{
        width: 80%;
    }
}
