* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    line-height: 1.55;
    min-height: 100vh;
    width: 90%;
    margin: 1rem auto;
    background-image: linear-gradient(-45deg, #6cb0f5, #50a7ff, #1E90FF, #62b0fd);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
