.login__container {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 15vh 85vh;
}

.login__header, .login__container__article {
    grid-column-start: 2;
}

.login__header {
    display: flex;

    grid-row-start: 1;

    align-items: flex-end;
    font-size: 3rem;
}

.login__container__article {
    display: grid;
    grid-row-start: 2;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 12.5vh 10vh 10vh 20vh;
}

.login__container__article__section__1, 
.login__container__article__section__2, 
.login__container__article__section__3, 
.login__container__article__section__4, 
.login__container__article__section__5 {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.login__container__article__section__1, 
.login__container__article__section__2, 
.login__container__article__section__4, 
.login__container__article__section__5 {
    justify-content: flex-end;
    font-weight: 300;
}

.login__container__article__section__3 {
    justify-content: center;
}

.login__container__article__section__5 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.login__container__article__section__5 h4 {
    direction: none;
    color: #0079f1;
}

.login__container__article__section__3 a {
    font-weight: bold;
    font-size: 1.1rem;

    color: white;

    text-decoration: none;
}

.login__container__article__section__5__link {
    text-decoration: none;
    width: 50%;
}

/* input styling */
.login__container__article__section__1 input, 
.login__container__article__section__2 input {
    height: 4rem;
    border-radius: 100px;
    border: none;
    color: #0079f1;
    box-shadow: inset 0px 15px 10px -15px rgba(0,0,0,0.5);
    margin-top: 1rem;
    padding: 0rem 2rem 0rem 2rem;
    font-family: 'Montserrat', sans-serif;
}

/* button styling */
.login__container__article__section__4 button, 
.login__container__article__section__5 button {
    justify-content: baseline;
    border: none;
    border-radius: 100px;
    color: #1E90FF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
}

.login__container__article__section__4 button {
    height: 7.5rem;
    font-size: 1.75rem;
    width: 100%;
    margin: 0 auto;
}

.login__container__article__section__5 button {
    height: 5rem; 
    width: 100%; 
    font-size: 1.25rem;
    border: none;
    border-radius: 100px;
}

/* hover effects */
.login__container__article__section__4 button,
.login__container__article__section__5 button, 
.login__container__article__section__3 a {
    transition: 0.15s;
}

.login__container__article__section__4 button:hover,
.login__container__article__section__5 button:hover {
    
    direction: none;
    
    transform: scale(1.025);

    background-color: #1E90FF;
    color: white;

    cursor: pointer;

    border: 2px solid white;
}

.login__container__article__section__3 a:hover {
    color: rgb(4, 0, 255);
}

/* phone css */
@media only screen and (max-width: 1000px) {
    .login__container {
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 20vh 80vh;
    }
   
    .login__container__article {
        grid-template-rows: 15vh 12.5vh 10vh 15vh auto;
    }
}

