.bigMap {
    max-height: 100vh;
}

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 11px;
    display: none;
}

.leaflet-right .leaflet-control {
    float: right;
    width: 75%;
}

.leaflet-routing-container {
    color: black;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    border: 2px solid rgb(0, 0, 0);
}

.leaflet-routing-collapse-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
    position: relative;
    left: 2px;
    top: -1px;
    display: block;
    width: 26px;
    height: 23px;
}


@media only screen and (max-width: 1000px) {
    .leaflet-routing-container-hide .leaflet-routing-collapse-btn {
        left: 1px;
        top: 3px;
    }
}
