.nav__header {
    height: 5vh;
    position: relative;
    width: 100vw;
    z-index: 1000;
}

.hamburgermenu{
    width: 4em;
    height: 1em;
}

.menuToggle{
    display: block;
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

.menuToggle a{
    text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

.menuToggle a:hover
{
  color: tomato;
}

.menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

.menuToggle span
{
    display: block;
    width: 13px;
    height: 1px;
    margin-bottom: 4px;
    position: relative;
    /* background-color: #cdcdcd; */
    background-color: #FFF;
    border-radius: 3px;
    z-index: 1;
    transform-origin: -2px 2px;
    transition: transform 0.5s cubic-bezier(1,1,1,1),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  height: 100vh;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li
{
  padding: 10px 0;
  font-size: 1.5rem;
}

.menuToggle input:checked ~ ul
{
  transform: none;
}

@media(max-width: 750px){
    .menuToggle {
      top: 12px;
      left: 20px;
    }

    .menuToggle span
    {
      width: 22px;
      height: 2px;
      transform-origin: 0.5px 0px;
    }
}
