label.onderneming-naam__label,
label.onderneming-type__label,
label.onderneming-email__label {
    font-size: 1.6rem;
    color: #FFF;
    font-weight: 500;
    display: block;
    margin-top: 2rem;
}

input.onderneming-naam__naam-input,
select.onderneming-type__type-input,
input.onderneming-email__input {
    font-family: inherit;
    display: block;
    margin-top: 0.5rem;
    width: 100%;
    padding: 1rem;
    border-radius: 10rem;
    border: none;
    font-style: italic;
    box-shadow: inset 0 0 0.5rem 0 rgba(0,0,0,0.3);
}

section.onderneming-submit {
    display: flex;
    justify-content: center;
    margin-top: 12rem;
}

button.onderneming-submit__button {
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: none;
    background-color: #FFF;
    padding: 2rem 6rem;
    font-family: 'Lato', sans-serif;
    font-size: inherit;
    letter-spacing: 1px;
    color: #1E90FF;
    font-weight: 600;
}

input.onderneming-naam__naam-input::placeholder,
input.onderneming-email__input::placeholder {
    color: #000;
}

