.register__container__article__section__3 a {
    font-weight: bold;
    font-size: 1.1rem;

    color: white;

    text-decoration: none;
}

.register__container {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 15vh 85vh;
}

.register__header, 
.register__container__content {
    grid-column-start: 2;
}

.register__header {
    display: flex;

    grid-row-start: 1;

    align-items: flex-end;
    font-size: 3rem;
}

.register__container__content {
    display: grid;
    grid-row-start: 2;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 10vh 12.5vh 10vh 10vh 10vh 10vh;
}

.register__container__content__article__section__1, 
.register__container__content__article__section__2, 
.register__container__content__article__section__3, 
.register__container__content__article__section__4, 
.register__container__content__article__section__5,
.register__container__content__article__section__6,
.register__container__content__article__section__7 {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.register__container__content__article__section__1, 
.register__container__content__article__section__2, 
.register__container__content__article__section__3, 
.register__container__content__article__section__4, 
.register__container__content__article__section__5,
.register__container__content__article__section__6,
.register__container__content__article__section__7 {
    justify-content: flex-end;
    font-weight: 300;
}

.register__container__content__article__section__6 {
    margin-top: 2rem;
}


/* input styling */
.register__container__content__article__section__1 input, 
.register__container__content__article__section__2 input, 
.register__container__content__article__section__3 input, 
.register__container__content__article__section__4 input,
.register__container__content__article__section__5 input {
    height: 4rem;
    border-radius: 100px;
    border: none;
    color: #0079f1;
    box-shadow: inset 0px 15px 10px -15px rgba(0,0,0,0.5);
    margin-top: 1rem;
    padding: 0rem 2rem 0rem 2rem;
    font-family: 'Montserrat', sans-serif;
}

/* button styling */
.register__container__content__article__section__4 button, 
.register__container__content__article__section__5 button {
    justify-content: baseline;
    border: none;
    border-radius: 100px;
    color: #1E90FF;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
}

.register__container__content__article__section__5 button {
    height: 7.5rem;
    font-size: 1.75rem;
    width: 100%;
    margin: 0 auto;
}

.register__container__section {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(30,144,255,1) 25%, rgba(72,163,255,1) 100%);

    display: grid;
    grid-template-rows: 50vh 20vh;
    grid-template-columns: 25% 50% 25%;
}

.register__container__section h2  {
    grid-row-start: 1;
    grid-column: 2;

    font-size: 2.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.register__container__content__article__section__6 h4{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.register__container__section__buttons  {
    grid-row-start: 2;
    grid-column: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.register__container__content__article__section__7 button {
    border: none;
    border-radius: 100px;
    width: 100%;
    height: 5rem;
    color: #1E90FF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
}

.register__container__content__article__section__6 select {
    height: 5rem;
    border: none;
}

/* hover effects */
.register__container__content__article__section__7 button, 
.register__container__section__buttons button {
    transition: 0.15s;
}

.register__container__content__article__section__7 button:hover, 
.register__container__section__buttons button:hover {
    transform: scale(1.025);

    background-color: #1E90FF;
    color: white;

    cursor: pointer;

    border: 2px solid white;
}

/* media css */
@media only screen and (max-width: 750px) {
    .register__container {
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 20vh 80vh;
    }
   
    .register__container__content {
        grid-template-rows: 15vh 10vh 10vh 10vh 10vh 10vh 10vh;
    }

    .register__container__section {
        grid-template-rows: 35vh 55vh;
        grid-template-columns: 10% 80% 10%;
    }

    .register__container__section__buttons  {
        flex-direction: column;
    }

    .register__container__section button {
        width: 75%;
        height: 7.5rem;
    }
}

