.plusIcon ion-icon{
    height: 50px;
    width: 50px;
    color: white;
    vertical-align: middle;
}

ion-icon{
    color: white;
}

.restaurant-grid{
    display:grid;
    margin: 100px;
    grid-gap: 10px;
}

.restaurant-grid__add-product{
    display:flex;
    flex-direction: row;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color:#3FA0FF;
    box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    border-radius: 5px;
    text-decoration: none;
    width: 30vw;
    margin: 0 auto;
    margin-top: 10vh;
}