.confirmation{
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 15vh 5vh 20vh 2vh 3vh 2vh 5vh 2vh 20vh 2vh 10vh 14vh;
}

.confirmation__header{
  color: white;
  grid-column-start: 2;
  grid-row-start: 1;
  font-size: 3rem;
  display: flex;
  align-items: flex-end;
}

.confirmation__map{
  background-color: #fff;
  grid-column-start: 2;
  grid-row-start: 3;
  overflow: hidden;
}

.confirmation__questions{
  color: white;
  grid-column-start: 2;
  grid-row-start: 5;
  font-size: 2rem;
}

.confirmation__questions__choices{
  color: white;
  grid-column-start: 2;
  grid-row-start: 7;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
}

.confirmation__questions__choices__text{
  padding: 15px 30px;;
  color: #1E90FF;
  background-color: white;
  border-radius: 12px;
  margin: auto 0;
  border: none;
  transition: 0.15s;
  font-size: 2rem;
}

.confirmation__input{
  border: none;
  box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
  grid-column-start: 2;
  grid-row-start: 9;
  z-index: 2;
  padding: 2rem;
  border-radius: 1.2rem;
}

.confirmation__button{
  transition: 0.15s;
  font-size: 2rem;
  grid-column-start: 2;
  grid-row-start: 11;
  color: #1E90FF;
  background-color: white;
  border-radius: 1.2rem;
  width: 50%;
  padding: 10px 0;
  margin: auto auto;
  text-align: center;
  border: none;
}

.confirmation__button:hover, .confirmation__questions__choices__text:hover {
    transform: scale(1.025);
    background-color: #1E90FF;
    color: white;
    cursor: pointer;
    border: 2px solid white;
}

.fas{
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .confirmation{
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15vh 5vh 20vh 2vh 3vh 2vh 5vh 2vh 20vh 2vh 10vh 14vh;
  }

  .confirmation__header{
    font-size: 1.5rem;
  }

  .confirmation__questions{
    font-size: 1.4rem;
  }

  .confirmation__questions__choices{
    font-size: 1.4rem;
  }

  .confirmation__questions__choices__text{
    padding: 5px 15px;
    font-size: 1.4rem;
  }

  .confirmation__button{
    font-size: 2em;
    padding: 10px 0;
  }
}
