* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    background-color: #1E90FF;
}

article {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 15vh 85vh;
  color: white;
  background-color: #1E90FF;
  font-family: 'Montserrat', sans-serif;
}

header, main {
    grid-column-start: 2;
}

header {
    display: flex;
    grid-row-start: 1;
    align-items: flex-end;
    font-size: 2rem;
}

main {
    display: grid;
    grid-row-start: 2;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 12.5vh 10vh 10vh 15vh;
}

section {
    flex-direction: column;
    grid-column: 2;
}


label {
  width:90%;
  margin-left:5%
}

input {
  display:flex;
  height: 2rem;
  width:90%;
  margin-left: 5%;
  margin-bottom: 2rem;
  margin-top: 1rem;
  background: #FFFFFF;
  border: 1px solid #1E90FF;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

/* button styling */

button {
    border: none;
    border-radius: 100px;
    color: #1E90FF;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
}

.shoppingcart_section_button{
  width:100%;
  height:50%;
  border-radius: 0;
}

.bank_details_dropdown_menu{
  background: #FFFFFF;
  border: 1px solid #1E90FF;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
}

.order_button{
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width:50%;
  height:3rem;
  margin: 4rem;
}

.seperation_line{
  padding:0;
  border: 1px solid #FFFFFF;
  margin: 3rem 5%;
  width:90%;
}


@media only screen and (max-width: 1000px) {

    body {
        grid-template-columns: 10% 80% 10%;
    }

    main {
        grid-template-rows: 15vh 12.5vh 10vh 15vh auto;
    }

}
